@font-face {
    font-family: "Terminus";
    src: local("Terminus (TTF) for Windows"), local("Terminus (TTF)"),
    url(./font/terminusttf-4.47.0.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

.vertical-flexbox {
    padding: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-media-icon {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.social-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#title {
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

#particles-js {
    background-color: #640064;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

a{
    text-decoration: none;
}
