body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-flexbox{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.socialmedia-icon{
  width: 100px;
  height: 100px;
}

.socialmedia-flexbox{
  flex-wrap: nowrap;
}

html{
  background-image: url("assets/background.gif");
  background-size: cover;
  background-position: center;
  height: 100%;
  border: 20px white solid;
  margin: 20px;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#title{
  color: white;
  font-family: monospace;
  font-size: 50px;
  margin-bottom: 30px;
}
